link(rel='icon',href='./favicon.ico')
title -_-
body(style='padding:0;margin:0;backgtound:black')
meta(name='theme-color',content='red')
body: iframe(src="./index.html",width="100%",height="100%",style='border:none')
