doctype html
html
  head
    title -_-
    //- ink(rel="stylesheet",href="./style.css",type="text/css")
    ink(rel="stylesheet",href="https://denisde4ev.github.io/-_-/style.css",type="text/css")
    style body{background-color:orange}
  body
    span text
