doctype html
html
  head
    title -_-
    link(rel='stylesheet',type='text/css',href='./style.css')
    link(rel="icon" type="image/jpg" href="./favicon.jpg")
  body
    nav
      -
        var navobj={
          Home:'index.html',
          Galery:'galery.html',
          About:'about.html',
        }
      ul.navlinks
        for v,k in navobj
          li: a(href=v)= k
        
