*{padding:0;margin:0}

@import url("./scrollbar.css");


.site::before{
  content: '';
  background: var(--background) var(--background-color);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  position: fixed;
  bottom:0;
  left:0;
  right:0;
  top:0;

  background-image: var(--background);
  position: fixed;
}

.site{
  font-family: sans-serif;
}



$blur:10px;

nav, main{
  backdrop-filter: blur($blur);
}

nav{
  > span.txt{
    font-size: 40px;
    position: relative;
    top: -10px;
  }

  min-height: 4em;
  background-color: #5559;
  display: flex;
  justify-content:  space-between;
  align-items: center;

  $r: 1rem;
  border-radius: 0 0 $r $r;
  padding-left: $r*1.1+5rem;
  padding-right: $r*1.1+5rem;



  ul{display:flex}

  li{list-style-type:none;padding:1em}
  a{
    text-decoration: none;
    // font:
  }
}

main{
  $r: 1rem;
  border-radius: $r;
  padding: $r;
  background-color: #5559;

  min-width: 320px;
  width: calc(50% + 320px * .7);
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 25vh;
  margin-bottom: 10px;
  height: 100vh;
}
