*{padding:0;margin:0}

@import url("./scrollbar.css");

::-moz-selection,::selection {
  // color: red;
  background: var(--background-color);
}

.site::before{
  content: '';
  background: var(--background) var(--background-color);
  // background-image: var(--background);
  // background-color: var(--background-color);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  // min-height: 100vh;
  // min-width: auto;
  // min-width: 100vw;
  // overflow: hidden;

  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -2;
  bottom:0;
  left:0;
  right:0;
  top:0;

  background-image: var(--background);
  position: fixed;
}

// body {height: 400vh}
.site{



  font-family: sans-serif;
}



$blur:10px;

nav,main{
  backdrop-filter: blur($blur);
  // a:ss;
}

nav{

  min-height: 4em;
  background-color: #5559;
  display: flex;
  justify-content:  space-between;
  align-items: center;

  $r: 1rem;
  border-radius: 0 0 $r $r;
  padding-left: $r*1.1+5rem;
  padding-right: $r*1.1+5rem;



  ul{
    display: flex;
  }

  li{list-style-type: none}
  a{
    text-decoration: none;
    // font:
  }
}

main{
  $r:1rem;
  border-radius: $r;
  padding: $r;
  background-color: #5559;


  min-width: 400px;
  width: calc(30% + 400px);
  margin: 0 auto;
  margin-top: 25vh;
  height:100vh;
}
