*{padding:0;margin:0}

@import url("./scrollbar.css");


// @mixin bgblur {
//   content: '';
//
//   background-image: var(--background);
//   background-color: var(--background-color);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//
//   // filter: blur(5px);
//
//
//   z-index: -20;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   margin: -1%;
//   // box-sizing: border-box;
//   background-repeat: no-repeat;
//   filter: blur(10px);
//   transform: scale(1.1);
//   overflow: hidden;
//
// }


// .site::before{
//   // @include bgblur;
//   filter: none;
// }

.site::before{
  content: '';
  background-image: var(--background);
  background-color: var(--background-color);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  // min-height: 100vh;
  // min-width: auto;
  // min-width: 100vw;
  // overflow: hidden;

  position: fixed;
  z-index: -2;
  top:0;
  right:0;
  left:0;
  bottom:0;

}
.site{



  font-family: sans-serif;
}



$blur:10px;

nav{
  backdrop-filter: blur($blur);

  min-height: 4em;
  background-color: #5559;
  display: flex;
  justify-content:  space-between;
  align-items: center;

  $r: 15px;
  border-radius: 0 0 $r $r;
  padding-left: $r*1.1+5px;
  padding-right: $r*1.1+5px;



  ul{
    display: flex;
  }

  li{list-style-type: none}
  a{
    text-decoration: none;
    // font:
  }
  color: green;
}

main{
  $r:10px;
  border-radius: $r;
  padding: $r;
  background-color: #5559;


  backdrop-filter: blur($blur);

  min-width: 400px;
  width: calc(30% + 400px);
  margin: 0 auto;
  margin-top: 25vh;
  height:100vh;
}
// main::before{
//   @include bgblur;
//   overflow: hidden;
// }
